
.header{

}
.header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__burger{

}
.header__logo{

}
.nav{
display: none;
}
.nav__list{

}
.nav__item{

}
.nav__link{

}
.header__btn-wrap{
  display: flex;
  align-items:center;
}
.header__search{

}
.header__comms{

}
.header__contact{

}

@include desktop-first(700px){
  .sitenav{
    display: none;
  }
}